body {
    background-color: #111111;
}

h1 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    height: 40px;
  }
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #7bf0ff;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #40d2ff;
    cursor: pointer;
  }


  .butR{
    float: right;
  }
  
  .butL{
    float: left;
  }
  .head1{
    width: 650px;
  }

a.button {
  background-color: #196ea3;
  border: none;
  color: rgb(206, 223, 247);
  padding: 10px 15px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  margin: -10px 25px 2px 25px;
  cursor: pointer;
}
a.button:hover {
  background-color: #2f9dc9;
  border: none;
  color: rgb(206, 223, 247);
  padding: 10px 15px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  margin: -1px 25px 2px 25px;
  cursor: pointer;
}
a.button:active {
  background-color: #40c7df;
  border: none;
  color: rgb(206, 223, 247);
  padding: 10px 15px !important;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  margin: -10px 25px 2px 25px;
  cursor: pointer;
}